
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  color: white;
  z-index: 90;
  width: 80px;
  height: 75px;
}

.top-one {
  background-color: #F6E9B2;
  padding: 8px;
  border-radius: 50%;
  /* z-index: 90; */
  color: #1a4d2e;
}

.burger-icon {
  font-size: 26px;
}

.hero-text {
  font-weight: 900;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 
  line-height: 70px;

}


/* =================Tablet View================== */

@media (min-width: 768px) and (max-width: 1023px) {

  .hero-button {
    gap: 20px;
    height: 60px;
    width: 50%;
    font-size: 20px;
    border-radius: 15px;
  }

 
}

/* =============Desktop View======================= */

@media (min-width: 1024px) and (max-width: 1366px) {


}
